<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pers.ll.gacs.dao.Demand_2Mapper" >
  <resultMap id="BaseResultMap" type="pers.ll.gacs.po.Demand_2" >
    <id column="demand_2_id" property="demand2Id" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="demand_1_id" property="demand1Id" jdbcType="VARCHAR" />
    <result column="eval_result" property="evalResult" jdbcType="VARCHAR" />
  </resultMap>
</mapper>