<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pers.ll.gacs.dao.StudentMapper" >
  <resultMap id="BaseResultMap" type="pers.ll.gacs.po.Student" >
    <id column="stu_id" property="stuId" jdbcType="VARCHAR" />
    <result column="stu_name" property="stuName" jdbcType="VARCHAR" />
    <result column="stu_rank" property="stuRank" jdbcType="INTEGER" />
    <result column="stu_level" property="stuLevel" jdbcType="VARCHAR" />
    <result column="stu_male" property="stuMale" jdbcType="VARCHAR" />
  </resultMap>
</mapper>