<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pers.ll.gacs.dao.WeightMapper" >
  <resultMap id="BaseResultMap" type="pers.ll.gacs.po.Weight" >
    <id column="weight_id" property="weightId" jdbcType="VARCHAR" />
    <result column="weight" property="weight" jdbcType="VARCHAR" />
    <result column="course_id" property="courseId" jdbcType="VARCHAR" />
    <result column="demand_2_id" property="demand2Id" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    weight_id, weight, course_id, demand_2_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="pers.ll.gacs.po.WeightExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from weight
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from weight
    where weight_id = #{weightId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from weight
    where weight_id = #{weightId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="pers.ll.gacs.po.WeightExample" >
    delete from weight
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="pers.ll.gacs.po.Weight" >
    insert into weight (weight_id, weight, course_id, 
      demand_2_id)
    values (#{weightId,jdbcType=VARCHAR}, #{weight,jdbcType=VARCHAR}, #{courseId,jdbcType=VARCHAR}, 
      #{demand2Id,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="pers.ll.gacs.po.Weight" >
    insert into weight
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="weightId != null" >
        weight_id,
      </if>
      <if test="weight != null" >
        weight,
      </if>
      <if test="courseId != null" >
        course_id,
      </if>
      <if test="demand2Id != null" >
        demand_2_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="weightId != null" >
        #{weightId,jdbcType=VARCHAR},
      </if>
      <if test="weight != null" >
        #{weight,jdbcType=VARCHAR},
      </if>
      <if test="courseId != null" >
        #{courseId,jdbcType=VARCHAR},
      </if>
      <if test="demand2Id != null" >
        #{demand2Id,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="pers.ll.gacs.po.WeightExample" resultType="java.lang.Integer" >
    select count(*) from weight
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update weight
    <set >
      <if test="record.weightId != null" >
        weight_id = #{record.weightId,jdbcType=VARCHAR},
      </if>
      <if test="record.weight != null" >
        weight = #{record.weight,jdbcType=VARCHAR},
      </if>
      <if test="record.courseId != null" >
        course_id = #{record.courseId,jdbcType=VARCHAR},
      </if>
      <if test="record.demand2Id != null" >
        demand_2_id = #{record.demand2Id,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update weight
    set weight_id = #{record.weightId,jdbcType=VARCHAR},
      weight = #{record.weight,jdbcType=VARCHAR},
      course_id = #{record.courseId,jdbcType=VARCHAR},
      demand_2_id = #{record.demand2Id,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="pers.ll.gacs.po.Weight" >
    update weight
    <set >
      <if test="weight != null" >
        weight = #{weight,jdbcType=VARCHAR},
      </if>
      <if test="courseId != null" >
        course_id = #{courseId,jdbcType=VARCHAR},
      </if>
      <if test="demand2Id != null" >
        demand_2_id = #{demand2Id,jdbcType=VARCHAR},
      </if>
    </set>
    where weight_id = #{weightId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="pers.ll.gacs.po.Weight" >
    update weight
    set weight = #{weight,jdbcType=VARCHAR},
      course_id = #{courseId,jdbcType=VARCHAR},
      demand_2_id = #{demand2Id,jdbcType=VARCHAR}
    where weight_id = #{weightId,jdbcType=VARCHAR}
  </update>
</mapper>